* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    position: fixed;
    background-color: white;
    padding: 5px 80px;
    display: flex;
    width: 100%;
    z-index: 9999;
    cursor: pointer;
}

img {
    width: 150px;
}

.nav_bar {
    margin-left: 20px;
    display: flex;
    
   
}

.nav_bar ul {
    display: flex;
    margin-top: 15px;
    
}

.nav_bar ul li {
    margin-top: 10px;
    padding: 2px 20px;
    list-style: none;
    text-align: center;
    font-size: 14px;

}

.nav_bar ul li:hover{
    border-bottom: 5px solid #4296cb;
    margin: auto;
    
}

.nav_bar ul ul {
    position: absolute;
	display: none;
	background-color: #222;
	top: 60px;
	text-align: left;
    left: 0px;
    width: 1400px;
    
    
}

.nav_bar ul li:hover > ul {
	display: block;

}

.nav_bar ul ul li {
	width: 200px;
    align-items: center;
    margin: auto;
    padding: 30px;
    text-align: center;
    color: white;
	
	font-weight: 400;
	position: relative;
	display: list-item;
	font-size: 18px;
    display: inline-block;

}

.nav_bar ul ul li i {
    font-size: 40px;
    padding: 5px;
}


.nav_bar>.nd ul {
    position: absolute;
	display: none;
	background-color: #222;
    
	top: 70px;
	text-align: left;
    left: 1000px;
    width: 250px;
    
}

.nd ul li {
    width: 250px;
    
}