.footer {
    background-color: rgb(44, 41, 62);
    font-family: sans-serif;
}

.footer_main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    color: whitesmoke;
    border-bottom: 0.5px dashed grey;
}

.footer_logo img {
    width: 200px;
}

.footer_logo h2 {
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: 400;
}



.link_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: -50px;
    cursor: pointer;
    
}

.list_items {
    width: 200px;
}

.list_items ul {
    font-size: 12px;
    list-style: none;

}

.list_items li {
  line-height: 40px;
}

.footer_end {
    padding-top:  30px;
    padding-bottom: 10px;
    color: whitesmoke;
    width: 90%;
    margin: auto;
    display: flex;
}

.footer_end p {
    width: 70%;
    margin-top: 90px;
} 

#fab {
    float: right;
    margin-left: 250px;
    width: 40%;
}

#fab i {
    font-size: 20px;
    margin-left: 30px;
}