.container{
    width: 100%;
    height: auto;
    font-family: sans-serif;
    display: flex;
    background-image: linear-gradient(to right, rgb(185, 242, 255),rgb(242, 207, 212));
}
.inner1{
    width: 40%;
    height: 300px;
    margin-left: 150px;
    margin-bottom: 50px;
    
}
.inner1>h1{
    font-weight: lighter;
}
.inner1>p{
    font-size: small;
    color: rgb(107, 103, 103);
    line-height: 20px;
}
.inner2{
    width: 60%;
    height: 300px;
}
.inner2>img{
    height: 320px;
    margin-left: 50px;
    margin-top: 18px;
    width: 90%;
}
.container2{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.container2>#card1{
width: 100%;
height: 100%;
text-align: center;
line-height: 30px;
background-color: aliceblue;
padding-top: 50px;
}
#card1>h1{
    font-weight: lighter;
    margin-bottom: 20px;
}
#card1>p{
    color:  rgb(107, 103, 103);
    margin-bottom: 20px;
}
#card1+#card1{
    background-color: rgb(237, 239, 239);
}
#card1>button{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-color: black;
    color: aliceblue;
    margin-bottom: 20px;
}
#card1>button:hover{
    background-color: rgb(59, 59, 59);
}
#card1>a{
    text-decoration: none;
    color: blue;
}
.table>h1{
font-weight: lighter;
}
.table{
width: 90%;
margin: auto;
height: auto;
border-collapse: collapse;
border:0px solid white;
margin-top: 60px;
}
table tr { 
border:0px solid white;
    border-collapse: collapse;
    border:none; 
}
table{
width: 100%;
}
td>img{
    height: 30px;
    margin-left: 100px;
    margin-right: -10px;
    width: 40px;
}
.table>tr>td:nth-child(1){
    width: 10%;
}
#h11{
    font-weight: lighter;
}
#button11{
    width: 90px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(30, 30, 30);
    color: aliceblue;
    margin: 30px;
}
#td1{
    text-align: center;
}
.container3{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    background-color: rgb(233, 233, 233);
}
.container3>.inner1{
    width: 50%;
    height: auto;
    margin-bottom: 30px;
   
}
.inner1>h1{
    margin-top: 80px;
    margin-bottom: 30px;
}
.container3>.inner1:nth-child(1){
    width: 60%;
    margin-left: 90px;
    margin-right: -60px;
}
.inner1>button{
background-color: rgb(33, 33, 33);
width: 120px;
height: 40px;
color: white;
border-radius: 4px;
margin: 30px 0px;
}
.inner1>img{
    height: 350px;
    width: 90%;
}