.container{
    width: 100%;
    height: 300px;
    font-family: sans-serif;
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(185, 242, 255),rgb(240, 189, 197));
}
.inner1{
    width: 40%;
    height: 300px;
    margin-left: 150px;
}
.inner1>h1{
    font-weight: lighter;
}
.inner1>p{
    font-size: small;
    color: rgb(107, 103, 103);
    line-height: 25px;
}
.inner2{
    width: 60%;
    height: 300px;
}
.inner2>img{
    height: 280px;
    margin-left: 50px;
    margin-top: 18px;
}
.container2{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.container2>#card1{
width: 100%;
height: 100%;
text-align: center;
line-height: 30px;
background-color: aliceblue;
}
#card1>h1{
    font-weight: lighter;
}
#card1>p{
    color:  rgb(107, 103, 103);;
}
#card1+#card1{
    background-color: rgb(237, 239, 239);
}
#card1>button{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-color: black;
    color: aliceblue;
    margin-bottom: 20px;
}
#card1>button:hover{
    background-color: rgb(59, 59, 59);
}
#card1>a{
    text-decoration: none;
    color: blue;
}
.table>h1{
font-weight: lighter;
}
.table{
width: 90%;
margin: auto;
height: 500px;
border: 1px solid black;
border-collapse: collapse;
}
table{
width: 100%;
}
td>img{
    height: 50px;
}
.table>tr>td:nth-child(1){
    width: 10%;
}