.Footer{
    width: 100%;
    height: auto;
    border: 1px solid white;
    background-color: rgb(31, 31, 51);
    display: flex;
}
.Footer>#logo{
    width: 40%;
    height: 80%;
}
.Footer>#logo>img{
    height: 50px;
    margin-top: 80px;
    margin-left: 80px;
}
.Footer>#logo>p{
    margin-left: 80px;
    color: rgb(161, 151, 151);
    margin-top: -2px;
    font-size: smaller;
}
.Footer>#logo>p>sup{
    font-size: 5px;
}
.Footer>#list{
width: 60%;
height: 80%;
}
.Footer>#list>#listitem{
    margin-top: 80px;
    font-size: small;
    line-height: 40px;
    color: aliceblue;
    display: flex;
    
}
ul{
    list-style: none;
    cursor: pointer;
}
hr{
    background-color: rgb(255, 0, 0);
    margin-right: 180px;
}
.bottom{
    width: 100%;
    height: 50px;
    background-color: rgb(31, 31, 51);
    padding-top: 50px;
    display: flex;
}
.bottom>p{
    color: grey;
    font-size: small;
    margin-left: 30px;
}
bottom>div{
    margin-left: 250px;
    display: flex;
}
.bottom>div>div>a>img{
    height: 15px;
    margin-bottom: -10px;
}